.generateImage_mainContainer {}

.generateImage_button {
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--text-orange);
    color: var(--text-color);
    border-radius: 0.2rem;
    cursor: pointer;
}