.statusDescription_mainContainer {
    width: 100%;
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1.5rem;
}

.statusDescription_text {
    font-size: 1rem;
    margin-bottom: 0.85rem;
}

.statusDescription_hr {
    height: 0.1rem;
    background-color: var(--bg-color-dark);
    margin-bottom: 0.55rem;
}

.statusDescription_arrowUpIconContainer {
    width: 2.4rem;
    margin: 0 auto;
}

.statusDescription_statusCountContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 auto 3.4rem;
}

.statusDescription_countText {}

.statusDescription_bar {
    width: 12rem;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: var(--text-color);
    margin: 0 auto 0.6rem;
}